@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.light {
  --color-zinc-950: #fafafa;
  --color-zinc-900: #ffffff;
  --color-zinc-800: #f4f4f5;
  --color-zinc-700: #e4e4e7;
  --color-zinc-600: #d4d4d8;
  --color-zinc-500: #71717a;
  --color-zinc-400: #52525b;
  --color-zinc-300: #a1a1aa;
  --color-zinc-200: #3f3f46;
  --color-zinc-100: #18181b;
  --color-zinc-55: #18181b; /* Fallback if needed */
  --color-zinc-50: #09090b;
}

body,
html {
  background-color: var(--color-zinc-800);
  color: var(--color-zinc-100);
  transition: background-color 0.2s ease, color 0.2s ease;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

/* dialog:modal {
  max-width: 100dvw;
  max-height: 100dvh;
} */

body:has(dialog[open]) {
  overflow: hidden;
}

summary::-webkit-details-marker {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
